<div class="guy" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url( <%= image_path 'gin_cocktails.jpg' %>)">
  <div class="navbar-wagon">
    <h1><%= link_to "Cocktails(#{@cocktails.count})", cocktails_path %></h1>
    <%= form_tag search_cocktails_path, method: :get do %>
     <%= text_field_tag :search, params[:search], placeholder: "search", class: "form-control" %>
    <% end %>
    <%= link_to 'Add cocktail', new_cocktail_path, class: "btn btn-warning navbar-wagon-right" %>
  </div>
  <div class="container">
    <!-- <div class="row"> -->
      <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
            <h3><%= link_to cocktail.name, cocktail %></h3><br>

            <ul>
              <% cocktail.ingredients.each do |ingredient| %>
              <li>
                <%= ingredient.name  %>
              </li>
              <% end %>
            </ul>
          </div>
          <%= link_to '', cocktail, class: "fas fa-eye" %> <%= link_to '', edit_cocktail_path(cocktail), class: "fas fa-edit" %> <%= link_to '', cocktail, method: :delete, class: "fas fa-trash-alt", data: { confirm: 'Are you sure?' } %>
        </div>
      <div>
    </div>
    <% end %>
  </div>
</div>
